<div class="secondary_page_wrapper">

    <div class="container">

        <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

        <ul class="breadcrumbs">

            <li><a href="/Member">Ana Sayfa</a></li>
            <li>İletişim</li>
        </ul>

        <div class="row">

            <aside class="col-md-3 col-sm-4">
                <section class="section_offset">

                </section>
            </aside><!--/ [col]-->

            <main class="col-md-9 col-sm-8">

                <h1 class="page_title">İletişim</h1>

                <section class="section_offset">

                    <h3>İletişim Formu</h3>
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post,new { enctype = "multipart/form-data" }))
                    {
                                @Html.AntiForgeryToken()
                                <div class="theme_box">

                            <p class="form_caption">Soru ve önerilerinizi bize gönderin.</p>
                            <div novalidate enctype="multipart/form-data" class="contactform type_2">
                                <ul>
                                    <li class="row">
                                        <div class="col-sm-6">

                                            <label for="cf_name" class="required">Adınız</label>
                                            <input type="text" required name="name" id="cf_name" title="Ad" value="@Session["AdSoyad"]">

                                        </div>
                                        <div class="col-sm-6">
                                            <label for="cf_email">Mail Adresiniz</label>
                                            <input type="email" required name="email" id="cf_email" title="Mail Adresi">

                                        </div>
                                    </li>
                                    <li class="row">
                                        <div class="col-sm-6">

                                            <label for="cf_name" class="required">Telefon Numarası</label>
                                            <input type="text" required name="phone" id="cf_name" title="Telefon">

                                        </div>
                                        <div class="col-sm-6">
                                            <label for="cf_email">Sipariş Numarası</label>
                                            <input type="text" name="subject" id="cf_email" title="sipariş numarası">

                                        </div>
                                    </li>
                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="cf_order_number">Dosya</label>
                                            <input type="file" name="file" title="Dosya">
                                        </div>
                                    </li>
                                    <li class="row">

                                        <div class="col-xs-12">

                                            <label for="cf_message" class="required">Mesajınız</label>
                                            <textarea id="cf_message" required name="message" title="Mesaj" rows="6"></textarea>

                                        </div><!--/ [col]-->

                                    </li>
                                </ul>
                            </div>
                        </div><!--/ .theme_box -->

                        <div class="bottom_box on_the_sides">

                            <div class="left_side">
                                <input class="button_dark_grey middle_btn" type="submit" value="GÖNDER">

                            </div>

                        </div>
                    }
                </section>

                <section class="section_offset">

                    <h3>Contact Information</h3>

                    <div class="theme_box">

                        <div class="row">

                            <div class="col-sm-5">

                                <div class="proportional_frame">

                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3024.238131852431!2d-74.006059!3d40.712773999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258fda88cefb3%3A0x7f1e88758d210007!2z0J3RjNGOLdC50L7RgNC60YHQutC40Lkg0KHQuNGC0Lgt0YXQvtC70Ls!5e0!3m2!1sru!2sua!4v1415946524959" style="border:0"></iframe>

                                </div>

                            </div><!--/ [col]-->

                            <div class="col-sm-7">

                                <p class="form_caption">Ut tellus dolor dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.</p>

                                <ul class="c_info_list">

                                    <li class="c_info_location">8901 Marmora Road, Glasgow, D04 89GR.</li>
                                    <li class="c_info_phone">800-599-65-80</li>
                                    <li class="c_info_mail"><a href="mailto:#">info@companyname.com</a></li>
                                    <li class="c_info_schedule">

                                        <ul>

                                            <li>Monday-Friday: 8.00-20.00</li>
                                            <li>Saturday: 9.00-15.00</li>
                                            <li>Sunday: closed</li>

                                        </ul>

                                    </li>

                                </ul>

                            </div><!--/ [col]-->

                        </div><!--/ .row -->

                    </div><!--/ .theme_box -->

                </section>

            </main><!--/ [col]-->

        </div><!--/ .row-->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->
