<div class="secondary_page_wrapper">

    <div class="container">

        <div class="row">

            <div class="col-xs-12">

                <div class="container_404">

                    <p class="not_found_404"> </p>

                    <p class="not_found">Alışveriş Sepetiniz Boş!</p>

                    <p></p>

                    <a href="/Member" class="button_dark_grey middle_btn">Sepete Ürün Ekle</a>

                    <a href="/member" class="button_dark_grey middle_btn">AnaSayfaya Git</a>

                    <form class="clearfix search">

                        <input type="text" name="" tabindex="1" placeholder="Ürün Ara..." class="alignleft">

                        <button class="button_blue def_icon_btn alignleft"></button>

                    </form><!--/ #search-->

                </div><!--/ .align_center -->

            </div><!--/ [col]-->

        </div><!--/ .row -->

    </div><!--/ .container-->

</div><!--/ .page_wrapper-->
