<aside class="col-md-3 col-sm-4">
    <section class="section_offset">
        <h3>Hesabım</h3>
        <ul class="theme_menu">
            <li class="current"><a href="@Url.Action("index","Profil")">Profilim</a></li>
            <li><a href="#">Ürünlerim</a></li>
            <li><a href="#">Siparişlerim</a></li>
            <li><a href="#">Satılan Ürünlerim</a></li>
            <li><a href="@Url.Action("index","MyAddress")">Adreslerim</a></li>
            <li><a href="@Url.Action("index","wishlist")">Favorilerim</a></li>

        </ul>

    </section>

</aside>
